.btn {
  font-size: rem(16px);
  font-weight: 800;
  padding: rem(21px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  

  &--theme--yellow {
    background: #FEDB3F;
    color: $black1;
  }


  &--theme--transparent {
    background: transparent;
    color: white;
    text-transform: none;

    &:hover {
      color:#FFD517;
    }
  }
}
