.contacts {
  font-style: normal;
  text-align: right;

}

.contacts__tel {
  font-size: 26px;
  color: #fff;
  margin-bottom: 4px;

}

.contacts__schedule {
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FF3D00;
}

.contacts__text {
  margin-bottom: 6px;
  color: #9A9A9A;
  font-size: 11px;
  line-height: 20px;
}