.news {
  margin-bottom: 152px;

}
.news__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-transform: uppercase;
  margin-bottom: 51px;

}

.news__date-month , .news__date-year {

display: inline-block;
font-size: 14px;
line-height: 21px;
}

.news__item {
  width: 550px;
  height: 394px;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 25px;

}

.news__item:last-child {
  margin-right: 0;
}

.news__list {
  margin-bottom: 58px;
  display: flex;
}
.news__content {
  margin: 0 28px 26px;
}

.news__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.news__text {
  font-size: 16px;
  line-height: 24px;
}
.news__img {
  position: absolute;

}