.paginator {
  display: flex;
  justify-content: center;
  text-align: space-between;
  font-size: 16px;
}

.paginator__list{
  display: flex;
  font-weight: bold;

}
.paginator__display {
  margin-right: 25px;

}

.paginator__link {
  background: transparent;
  padding: 7px 12px;
  border-radius: 50%;
  margin-right: 4px;
}

.paginator__link--active {
  background: #FF5500;
  color:#fff;

}

.paginator--theme--light {
  color: black;
}