.preview {
  text-align: center;
  width: 776px;
  margin-right:  0;
  margin-left: 170px;
  text-transform: uppercase;
  margin-bottom: 150px
}

.preview__title {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 18px;
  
}

.preview__text {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 62px
}
